{% extends "layout.html"%}


{% block title %}
Flights
{% endblock %}

{% block body %}
    <h1>Book a Flight</h1>
    <p>{{ message }}</p>
    <form action = "{{ url_for('book') }}" method = "post">
        <div>
            <select class = "form-group-drop" name="flight_id">
                {% for flight in flights %}
                    <option value = "{{ flight.id }}">{{ flight.origin }} to {{ flight.destination }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input class = "form-control" name = "name" placeholder="Passenger name">
        </div>
        <div>
            <button class="btn">Book a Flight</button>
        </div>
    </form>
    <form action = "{{ url_for('flights') }}">
    <button class = "btn">All Flights</button>
    </form>
{%endblock%} 