@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    background: linear-gradient(to top, #005c97, #363795);
    color: white;
    margin: 7rem;
    overflow: hidden;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.container{
    margin:auto;
    border-radius: 20%;
    border: 2px solid transparent;
    text-align: center;
    width: 600px;
    position: relative;
    padding: 5rem 10px 0 10px;
    height: 400px;
}

h1{
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.form-group-drop{
  display: block;
  position: relative;
  width: 100%;
  height: 2.0rem;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  color: #495057;
  font-family: 'Bree Serif', serif;
  letter-spacing: 0.1rem;
}

.form-control {
    position: relative;
    margin-top: 1rem;
    width: 98.7%;
    height: 1.6rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    color: #495057;
    background-color: white;
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.1rem;
}

.btn {
    position: relative;
    margin-top: 1rem;
    width: 20%;
    height: 1.6rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    color: #495057;
    font-family: 'Bree Serif', serif;
    background-color: white;
    font-weight: bolder;
}

a{
    color: white;
}
.ol{
    width:200px;
    margin: auto;
}